.box-pointer {
cursor: pointer;  
}
body{
  font-family: sans-serif;
  background-image:url(https://image.api.playstation.com/vulcan/ap/rnd/202310/2502/1751043f9999ae22f2e6293fcf355e596f4183de063619da.png) ;
background-repeat: no-repeat, repeat;
}

/*Зроби цей сайт красивим 😉*/
P{
    text-align: CENTER;
}
h1{
    text-align: CENTER; 
    color:green;
}
.a{
   color:red; 
    
    
    
    
    
    
}

.cta-button {
    color: #cc5200; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 15px;
    transition: all 0.3s ease;
    display: inline-block;
}

.cta-button {
    background-image: linear-gradient(45deg, #ff4e00, #ec9f05);
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.8); 
    border: 2px solid #ff4e00;
}

































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































